* {
  border-radius: 0 !important;
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

a:hover {
	font-weight: 800;
	text-decoration: none;
}

/*Navbar*/
.navbar-default {
	background-color: #FFA033;
	text-decoration: none;
	font-weight: 700;
	color: #FFFFFF;
	border: none;
	outline: none;
	padding: 0.5rem;
}

.navbar-brand img {
	height: 31px;
	width: auto;
}

.nav.navbar-nav.navbar-right li a {
	color: #FFFFFF;
}

li:hover {
	background-color: #F28300;
}

#nav-btn {
	background: #FFFFFF;
	color: #FFA033;
	font-weight: 700;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	margin: 1rem 2rem 1rem 1.5rem;
}

/*Header*/
header {
	background: url(../images/background-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	margin-top: -2rem;
	padding-top: 10rem;
	padding-bottom: 5rem;
}

header img {
  display: block;
  margin: 0 auto 35px;
  padding: 2rem 0;
}

.button {
	text-align: center;
	padding-bottom: 3rem;
}

.btn.btn-default.btn-lg {
	border: none;
	outline: none;
	color: #FFFFFF;
	background-color: #FFA033;
	text-align: center;
	font-style: italic;
}

/*About*/
#about-section {
	padding: 15rem 0;
}

#about-title {
	font-weight: 700;
	color: #FFA033;
}

#about-paragraph {
	font-size: 16px;
}

/*Cookies*/
#cookies {
	background: url(../images/background-cookies.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 705px;
}

.cookie {
	background: #FFFFFF;
	width: 21.8%;
	float: left;
	margin: 142px 17px 142px 17px;
	padding: 0.8rem 0 0.8rem 0;
	text-align: center;
	position: relative;
}

#chip {
	margin-left: 18.5rem;
}

#title_cookie {
	font-weight: 600;
	color: #FFA033;
}

#btn-chip-cookie {
	height: 40px;
	width: 210px;
}

#btn-cookie {
	height: 40px;
	width: 210px;
}

#cookie-description {
	font-size: 16px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/*Signup*/
#sign_up {
	background: #FFA033;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

#signup-img {
	display: block;
  margin: 0 auto;
}

.button:hover {
	font-weight: 700;
}

form {
	text-align: center;
}

#mc_embed_signup .button {
	clear: both;
	background-color: #F28300;
	border: 0 none;
	color: #FFFFFF;
	display: inline-block;
	height: 73px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	font-size: 20px;
	font-style: italic;
	margin-left: -0.3rem;
	margin-top: 2.5rem;
}

#mc_embed_signup .mc-field-group input {
	text-indent: 3%;
}

#mc_embed_signup input.mce_inline_error {
	border: none;
}

#mc_embed_signup input {
	border: none;
	outline: none;
	-webkit-appearance: none;
}

#mc_embed_signup .mc-field-group label {
	display: block;
	margin-bottom: 3px;
	text-align: center;
	font-size: 6rem;
	color: #FFFFFF;
	margin-top: -46rem;
}

#mce-EMAIL{
  padding: 8px 0;
  display: inline-block;
  width: 46%;
  font-size: 40px;
  font-weight: 100;
  margin-top: 2.5rem;
}

#mc-embedded-subscribe{
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
}
